*.pyc
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# delphi 
*.dcu
*.exe
*.identcache
__history
log.txt

# dart
pubspec.lock

#csharp
*.suo
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

